<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="home"></ion-icon>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-button expand="block" (click)="allowNotification()">Allow Push Notification</ion-button>
    <ion-button expand="block" (click)="checkSubscription()">Check Subscription</ion-button>
    <ion-button expand="block" (click)="subscribeToNotification()">Subscribe Push Notification</ion-button>
    <ion-button expand="block" (click)="unSubscribeToNotification()">Unsubscribe Push Notification</ion-button>
  </div>
</ion-content>
