<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="home"></ion-icon>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-button expand="block" (click)="requestPermission()">Allow Push Notification</ion-button>
    <ion-button expand="block" (click)="checkSubscription()">Check Subscription</ion-button>
    <ion-button expand="block" (click)="subscribeNotification()">Subscribe Push Notification</ion-button>
    <ion-button expand="block" (click)="unsubscribeNotification()" *ngIf="isSubscribed">Unsubscribe Push Notification</ion-button>
    <ion-button expand="block" (click)="clearData()">Clear Data</ion-button>

    <pre>
      <code class="language-css" *ngIf="sub">
        {{ sub | json }}
      </code>
    </pre>

    <ion-list *ngIf="sub">
      <!-- <ion-item>
        <ion-label>Endpoint</ion-label>
        <p type="text" readonly="true">{{endpoint}}</p>
        <ion-button expand="block" (click)="copyEndpoint()">Copy</ion-button>
      </ion-item> -->
    </ion-list>
  </div>
</ion-content>
